<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/js/bootstrap.min.js">
    <title>Demo Hello World</title>
    <style>
        .center {
            width: 500px;
            padding: 100px;
            margin: auto;
            background: #ccc;
            border-radius: 15px;
        }
    </style>
</head>
<body>
<div class=" center top-cover center-block">
<h1>Value: {{ value }}</h1>
</div>
</body>
<script type="text/javascript" src="/webjars/jquery/2.1.1/jquery.min.js"></script>
</html>